.navbar {
  height: 50px;

  display: flex;
  align-items: center;
  font-size: 14px;
  color: #555;

  .wrapper {
    width: 100%;
    padding: 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    .search {
      display: flex;
      align-items: center;
      position: relative;
      border-radius: 30px;

      background-color: white;
      padding: 9px;

      input {
        border: none;
        outline: none;
        background: #f4f7fe;
        border-radius: 40px;
        width: 60%;
        align-self: stretch;
        &::placeholder {
          font-size: 12px;
        }
      }
    }

    .items {
      display: flex;
      align-items: center;

      .item {
        display: flex;
        align-items: center;

        .avatar {
          width: 44px;
          height: 44px;
          border-radius: 15%;
        }

        .counter {
          width: 15px;
          height: 15px;

          border-radius: 50%;

          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 10px;
          font-weight: bold;
          position: absolute;
        }
      }
    }
  }
}
